<footer class="text-white bg-dark">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span class="fw-bold">Connect with us on social networks:</span>
      </div>
      <div>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </section>
  
    <section class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> LUXA</h6>
          <p>Luxa.com is your family's fashion destination.</p>
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Make Money with Us</h6>
          <p><a href="#" class="text-reset">Sell on LUXA</a></p>
          <p><a href="#" class="text-reset">Advertise Your Products</a></p>
          <p><a href="#" class="text-reset">Become an Affiliate</a></p>
        </div>
  
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p><a href="#" class="text-reset">FAQ</a></p>
          <p><a href="#" class="text-reset">Feedback</a></p>
          <p><a href="#" class="text-reset">About Us</a></p>
          <p><a href="#" class="text-reset">Contact Us</a></p>
        </div>
  
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
          <p><i class="fa fa-home"></i> GOVARDAN</p>
          <p><i class="fa fa-envelope"></i> govardanrough@example.com</p>
          <p><i class="fa fa-phone"></i> +91 9003980804</p>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4 " style="color: bisque;">
      &copy; 2023 Copyright <a class="text-white fw-bold" href="https://www.linkedin.com/in/govardanna/"> GOVARDAN</a>
    </div>
  </footer>
  
  <style>
    .social-icons {
      margin: 0;
      padding: 0;
    }
  
    .social-icons li {
      list-style: none;
      display: inline-block;
    }
  
    .social-icons li a {
      position: relative;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      border-radius: 50%;
      box-sizing: border-box;
      text-decoration: none;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
      background: linear-gradient(0deg, #ddd, #fff);
      transition: .5s;
    }
  
    .social-icons li a:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  
    .social-icons li a .fa {
      font-size: 20px;
      color: #262626;
      transition: .5s;
    }
  
    .social-icons li:nth-child(1) a:hover .fa {
      color: #211F1F; /* GitHub color */
    }
  
    .social-icons li:nth-child(2) a:hover .fa {
      color: #4AC959; /* WhatsApp color */
    }
  
    .social-icons li:nth-child(3) a:hover .fa {
      color: #0077B5; /* LinkedIn color */
    }
  
    .social-icons li:nth-child(4) a:hover .fa {
      color: #e4405f; /* Instagram color */
    }
  </style>
  